.topic {
  margin-top: var(--gutter-half);
}

.topic__breadcrumbs-wrapper {
  @include mq($md) {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
  }
}

.topic__breadcrumbs {
  margin: 0 auto;
  padding-top: $sp-4;
}

.topic__content {
  @include content-column;
}

.topic__header {
  text-align: center;
  margin-bottom: $section-spacing;

  p {
    text-align: left;
  }
}

.topic__label {
  font-family: $neuebit;
  font-size: $fs0;
  font-weight: $neuebit-bold;
  margin-bottom: var(--gutter-half);
}

.topic__title {
  @include h(1, $family: $fleuron-reg);
  margin-bottom: $sp1;
}


/**
 * Entries
 */
 .topic__entries-list {
  margin-bottom: $section-spacing;

  li {
    padding-left: 0;

    &::before {
      content: '';
      display: none;
    }
  }
}

.topic__entry {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $paragraph-spacing 0;
  position: relative;
  width: 100%;

  &:hover {
    cursor: ne-resize;

    .topic__entry-card {
      display: block;
    }
  }
}

.topic__entry-title {
  @include h(2, $family: $fleuron-reg, $weight: 300);
  font-size: $fs3;
}

.topic__entry-card {
  @include absolute(0 0 n n);
  @include layer(1);
  background-color: $gray-1;
  border: 1px solid $gray-3;
  color: var(--text-color);
  display: none;
  padding: var(--gutter-half) calc(var(--gutter-half) * 1.5);
  width: 270px;
}

.entry__card-overline {
  display: flex;
  flex-direction: row;
  font-family: $neuebit;
  font-size: $fs0;
  font-weight: $neuebit-bold;
  justify-content: space-between;
  margin-bottom: var(--gutter-half);
}

.entry__card-title {
  font-family: $fleuron-reg;
  font-size: $fs2;
  line-height: 1.15;
  margin-bottom: var(--gutter-half);
}

.entry__card-description {
  font-size: $fs-1;
  line-height: 1.25;
  margin-bottom: 0.25em;
}
