.topic {
  @include gutters(vert, half, margin);
}

.topic__breadcrumbs-wrapper {
  @include mq($sm) {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
  }
}

.topic__breadcrumbs {
  padding-top: var(--gutter-half);
}

.topic__content {
  @include content-column;
}

.topic__header {
  text-align: center;
  margin-bottom: $section-spacing;

  p {
    text-align: left;
  }
}

.topic__label {
  font-family: $neuebit;
  font-size: $fs0;
  font-weight: $neuebit-bold;
  margin-bottom: var(--gutter-half);
}

.topic__title {
  @include h(1, $family: $fleuron-reg);
  margin-bottom: $sp1;
}


/**
 * Entries
 */
 .topic__list {
  li {
    padding-left: 0;

    &::before {
      content: '';
      display: none;
    }
  }
}

.topic__entry {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--gutter-full) 0;
  position: relative;
  width: 100%;

  &:hover {
    cursor: ne-resize;

    .series__entry-card {
      display: block;
    }
  }
}

.topic__entry-title {
  @include h(2, $family: $fleuron-reg);
}

.topic__entry-type {
  font-size: $fs0;
  font-family: $neuebit;
}
