.topic__breadcrumbs-wrapper {
  @include mq($md) {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
  }
}

.topic__breadcrumbs {
  margin: 0 auto;
  padding-top: $sp-4;
}

.topic__content {
  @include grid-parent;
  align-items: baseline;
}

.topic__header {
  @include grid-child(9);
}

.topic__label {
  font-family: $neuebit;
  font-size: $fs0;
  font-weight: $neuebit-bold;
  margin-bottom: var(--gutter-half);
}

.topic__title {
  @include h(0, $family: $fleuron-reg, $weight: 400);
  margin-bottom: $sp1;
}


/**
 * Shared
 */

.topic__series,
.topic__entry {
  &__wrapper {
    border-bottom: 1px solid currentColor;
    margin-bottom: var(--gutter-full);
    padding-bottom: var(--gutter-half);
    padding-top: var(--gutter-half);
  }

  &__link {
    @include on-focus {
      @include spectrum(color);
      cursor: ne-resize;
    }
  }

  &__title {
    align-items: baseline;
    color: currentColor;
    display: flex;
    justify-content: space-between;
    font-family: $fleuron-reg;
    font-size: $fs2;
    font-weight: 400;
    line-height: 1;

    .arrow {
      font-family: $sans;
      font-size: $fs0;
    }
  }
}

.topic__series__wrapper,
.topic__entry__wrapper {
  border-bottom: 1px solid currentColor;
  margin-bottom: var(--gutter-full);
  padding-bottom: var(--gutter-half);
  padding-top: var(--gutter-half);
}


/**
* Series
*/

.topic__series__section {
  @include grid-child(9);
}

/**
 * Entries
 */

.topic__entries__section {
  @include grid-child(18);
  margin-top: cols(1, $unit: 'vw');
  margin-bottom: var(--gutter-full);
}
