---
layout: layouts/base/index.njk
templateClass: topic
date: Last Modified
eleventyComputed:
  title: '{{ topic | formatTopic }}'
permalink: /topics/{{ topic | slug }}/
pagination:
  data: collections
  size: 1
  filter:
    - entries
    - series
  alias: topic
---

{% import "../../_includes/shared/macros.njk" as macros %}

{% include '../home/topper/index.njk' %}
<span class="topic__breadcrumbs-wrapper">
  {{ macros.breadcrumbs('Topics', topic, 'topic__breadcrumbs') }}
</span>

<section class="topic__content">
  <header class="topic__header">
    <div class="topic__label">Topic</div>
    <h1 class="topic__title">{{ macros.wrapWords(title) }}</h1>
  </header>

  <ul class="topic__series-list">
    <div class="topic__label">Series</div>
    {% for item in collections[topic] | where("data.tags[0]", "series") %}
      <li>
        <a href="{{ item.url }}" class="topic__entry">
          {% if item.data.title %}
            <h4 class="topic__entry-title">{{ item.data.title }}</h4>
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>

  <ul class="topic__entries-list">
    <div class="topic__label">All Entries</div>
    {% for item in collections[topic] | where("data.tags[0]", "entries") %}
      <li>
        <a href="{{ item.url }}" class="topic__entry">
          {% if item.data.title %}
            <h4 class="topic__entry-title">{{ item.data.title }}</h4>
          {% endif %}
          {# <div class="topic__entry-card">
            <span class="entry__card-overline">
              <span class="entry__card-type">{{ macros.contentType(item.data.tags) }} &#8599;</span>
              <span class="entry__card-topic">{{ title }}</span>
            </span>
            <p class="entry__card-description"></p>
          </div> #}
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
