---
layout: layouts/base/index.njk
templateClass: topic
date: Last Modified
eleventyComputed:
  title: '{{ topic | formatTopic }}'
permalink: /topics/{{ topic | slug }}/
pagination:
  data: collections
  size: 1
  filter:
    - entries
    - series
  alias: topic
---

{% import "../../_includes/shared/macros.njk" as macros %}

{% include '../../_includes/shared/topper/index.njk' %}

<span class="topic__breadcrumbs-wrapper">
  {{ macros.breadcrumbs('Topics', topic, 'topic__breadcrumbs') }}
</span>

<section class="topic__content">
  <header class="topic__header">
    <div class="topic__label">Topic</div>
    <h1 class="topic__title">{{ macros.wrapWords(title) }}</h1>
  </header>

  <section class="topic__series__section">
    <ul class="topic__series__list">
      <div class="topic__label">Series</div>
      {% for item in collections[topic] | where("data.tags[0]", "series") %}
        <li class="topic__series__wrapper">
          <a href="{{ item.url }}" class="topic__series__link">
            <h4 class="topic__series__title">
              {{ item.data.title }}
              <span class="arrow">
                &#8599;
              </span>
            </h4>
            <p>
              {{ item.data.description }}
            </p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>

  <section class="topic__entries__section">
    <ul class="topic__entries__list">
      <div class="topic__label">All Entries</div>
      {% for item in collections[topic] | where("data.tags[0]", "entries") %}
        <li class="topic__entry__wrapper">
          <a href="{{ item.url }}" class="topic__entry__link">
            <h4 class="topic__entry__title">
              {{ item.data.title }}
              <span class="arrow">
                &#8599;
              </span>
            </h4>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
</section>
