@mixin font-face($family-name, $file-name, $font-weight: normal, $font-style: normal) {
  @font-face {
    $font-path: '/static/fonts/#{$file-name}';
    font-family: '#{$family-name}';
    font-display: auto;
    font-style: $font-style;
    font-weight: $font-weight;
    src: url($font-path + '.eot?') format('embedded-opentype');
    src: url($font-path + '.woff2') format('woff2'), url($font-path + '.woff') format('woff');
  }
}

// ---------------------------------------------------------------------------
// Everett
// ---------------------------------------------------------------------------

@include font-face(
  $family-name: EverettTrial,
  $file-name: Everett/EverettTrial-Regular-web,
  $font-weight: 400
);

// ---------------------------------------------------------------------------
// Everett Mono
// ---------------------------------------------------------------------------

@include font-face(
  $family-name: EverettMonoTrial,
  $file-name: Everett/EverettMonoTrial-Regular-web,
  $font-weight: 400
);
