html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--bg-color-inverted);
  color: var(--text-color-inverted);
}

body {
  @include flex(column, 1);
  @include responsive-font-size(0);
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: $sans;
  line-height: 1.6;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

b,
strong {
  font-weight: $everett-bold;
}

img {
  width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

a,
button,
input {
  color: inherit;
}

a,
button {
  cursor: pointer;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

button {
  @include button-reset;
}

input {
  @include text-input-reset;
}

code,
pre {
  font-family: $mono;
}

ul,
ol {
  @include list-reset;
}

hr {
  @include hr-reset;
}

// Conditionally show/hide elements based on theme
.light-mode {
  display: block;
}
.dark-mode {
  display: none;
}

[data-theme='dark'] {
  .light-mode {
    display: none;
  }
  .dark-mode {
    display: block;
  }
}

.breadcrumbs {
  align-items: flex-start;
  display: flex;
  font-size: $fs-3;
  justify-content: center;
  margin-bottom: var(--gutter-half);
  white-space: pre;

  @include mq($md) {
    text-align: center;
  }

  a {
    @include transition (color);
    // background-color: $gray-1;
    // border-radius: 2px;
    // box-shadow: 0px 2px 0px 1px rgb(0 0 0 / 10%);
    // display: inline-block;
    // font-weight: 500;
    // margin: 0 4px;
    // padding: 0 4px;
    // transform: translateY(-1px);

    &:hover {
      @include spectrum(color);
      // background-color: var(--secondary-bg-color);
      // box-shadow: 0px 2px 0px 1px rgb(0 0 0 / 15%);
    }

    // &:active {
    //   background-color: var(--secondary-bg-color);
    //   box-shadow: 0px 1px 0px 1px rgb(0 0 0 / 15%);
    //   transform: translateY(0);
    // }
  }

  // span {
  //   background-color: $gray-2;
  //   border-radius: 2px;
  //   box-shadow: 0px 1px 0px 1px rgb(0 0 0 / 15%);
  //   display: inline-block;
  //   font-weight: 500;
  //   margin: 0 4px;
  //   padding: 0 4px;
  //   transform: translateY(0);
  // }
}
