$black: #000000;
$white: #ffffff;

$gray-1: hsl(0, 0%, 97%);
$gray-2: hsl(0, 0%, 93%);
$gray-3: hsl(0, 0%, 84%);
$gray-4: hsl(0, 0%, 75%);
$gray-5: hsl(0, 0%, 60%);
$gray-6: hsl(0, 0%, 45%);
$gray-7: hsl(0, 0%, 32%);
$gray-8: hsl(0, 0%, 22%);
$gray-9: hsl(0, 0%, 15%);
$gray-10: hsl(0, 0%, 10%);

$dark-mode: $gray-10;

$blue: #2175ff;
$red: #f9423a;
$pink: #ffb3c9;
$yellow: #fadd1b;
$orange: #ffb302;
$green: #00bc64;
$purple: #8e4cf8;

:root {
  --bg-color: #{$white};
  --text-color: #{$gray-9};
  --secondary-text-color: #{$gray-6};
  --secondary-bg-color: #{$gray-2};
  --tertiary-bg-color: #{$gray-1};
  --tertiary-text-color: #{$gray-7};
  --bg-color-inverted: #{$black};
  --text-color-inverted: #{$white};
  --border-color: #{$gray-6};
  --search-text-color: #{$gray-7};
  --search-placeholder-color: #{$gray-5};
  --search-placeholder-focus-color: #{$gray-4};

  // Updated in src/assets/scripts/Spectrum.js
  --spectrum: #{$blue};
}

[data-theme='dark'] {
  --bg-color: #{$dark-mode};
  --text-color: #{$gray-4};
  --strong-text-color: #{$white};
  --secondary-text-color: #{$gray-5};
  --secondary-bg-color: #{$gray-8};
  --tertiary-bg-color: #{$gray-9};
  --tertiary-text-color: #{$gray-6};
  --bg-color-inverted: #{$white};
  --text-color-inverted: #{$dark-mode};
  --border-color: #{$gray-3};
  --search-text-color: #{$gray-4};
  --search-placeholder-color: #{$gray-6};
  --search-placeholder-focus-color: #{$gray-7};
}
