$sm-header-height: $sp3 * 2;
$header-height: $sp5 * 2;

$content-max-width-sm: 700px;
$content-max-width-xl: 900px;

:root {
  --content-max-width: #{$content-max-width-sm};

  @media (min-width: $xl) {
    --content-max-width: #{$content-max-width-xl};
  }
}

$x-wide-block-overhang: 12.5%;
$x-wide-block-width: calc(100% + (2 * #{$x-wide-block-overhang}));
