$sm-header-height: $sp8 * 2;
$header-height: $sp10 * 2;

$content-max-width-sm: 700px;
$content-max-width-xl: 900px;

$grid-col-count: 18;

:root {
  --content-max-width: #{$content-max-width-sm};

  @media (min-width: $bp-desktop-md) {
    --content-max-width: #{$content-max-width-xl};
  }
}

$x-wide-block-overhang: 12.5%;
$x-wide-block-width: calc(100% + (2 * #{$x-wide-block-overhang}));
