$sp-5: 4px;
$sp-4: 8px;
$sp-3: 12px;
$sp-2: 14px;
$sp-1: 16px;
$sp0: 18px;
$sp1: 24px;
$sp2: 32px;
$sp3: 40px;
$sp4: 48px;
$sp5: 56px;
$sp6: 64px;
$sp7: 81px;
$sp8: 126px;

$section-spacing: 4em; // <hr>s
$paragraph-spacing: 1em;
$block-spacing-sm: $sp2; // lists, code blocks, blockquotes, etc
$block-spacing-lg: $sp4; // lists, code blocks, blockquotes, etc
$list-item-spacing: 0.75em;

$sm-gutter-half: 8px;
$gutter-half: $sp-2;
$gutter-full: calc(#{var(--gutter-half)} * 2);
$grid-col-count: 18;

:root {
  --gutter-half: #{$sm-gutter-half};
  --gutter-full: #{$gutter-full};

  @media (min-width: $md) {
    --gutter-half: #{$gutter-half};
  }
}
