$sp1: 4px;
$sp2: 8px;
$sp3: 12px;
$sp4: 16px;
$sp5: 20px;
$sp6: 24px;
$sp7: 32px;
$sp8: 40px;
$sp9: 48px;
$sp10: 56px;
$sp11: 64px;
$sp12: 81px;
$sp13: 126px;

$section-spacing: 4em; // <hr>s
$paragraph-spacing: 1em;
$block-spacing-sm: $sp7; // lists, code blocks, blockquotes, etc
$block-spacing-lg: $sp9; // lists, code blocks, blockquotes, etc
$list-item-spacing: 0.75em;

$sm-gutter-half: $sp2;
$gutter-half: $sp3;
$gutter-full: calc(#{var(--gutter-half)} * 2);

:root {
  --gutter-half: #{$sm-gutter-half};
  --gutter-full: #{$gutter-full};

  @media (min-width: $bp-tablet) {
    --gutter-half: #{$gutter-half};
  }
}
