$sp-3: 13px;
$sp-2: 14px;
$sp-1: 16px;
$sp0: 18px;
$sp1: 24px;
$sp2: 32px;
$sp3: 40px;
$sp4: 48px;
$sp5: 56px;

$paragraph-spacing: $sp-1;

$sm-gutter-half: 8px;
$gutter-half: $sp-2;
$gutter-full: calc(#{var(--gutter-half)} * 2);
$grid-col-count: 18;

:root {
  --gutter-half: #{$sm-gutter-half};
  --gutter-full: #{$gutter-full};

  @media (min-width: $md) {
    --gutter-half: #{$gutter-half};
  }
}
