$sans: 'Everett', system-ui, sans-serif;
$mono: 'EverettMono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
$fleuron-mix: 'FleuronMixed', system-ui, sans-serif;
$fleuron-reg: 'FleuronRegular', system-ui, sans-serif;
$mondwest: 'Mondwest', $sans;
$neuebit: 'NeueBit', $sans;

$neuebit-bold: 700;
$everett-bold: 700;

$fs-2: 14px;
$fs-1: 16px;
$fs0: 18px;
$fs1: 20px;
$fs2: 24px;
$fs3: 32px;
$fs4: 40px;
$fs5: 48px;
$fs6: 56px;

$headings: (
  h0: $fs6,
  h1: $fs5,
  h2: $fs3,
  h3: $fs1,
  h4: $fs-1,
);
