$system-sans: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Helvetica, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$sans: 'Everett', $system-sans;
$mono: 'EverettMono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
$fleuron-mix: 'FleuronMixed', $system-sans;
$fleuron-reg: 'FleuronRegular', $system-sans;
$fleuron-dingbats: 'FleuronDingbats', $fleuron-mix;
$mondwest: 'Mondwest', $sans;
$neuebit: 'NeueBit', $sans;

$neuebit-bold: 700;
$everett-bold: 700;

$fs-smaller: 0.85em;
$fs-kbd: 0.6em;

$fs-4: 14px;
$fs-3: 16px;
$fs-2: 18px;
$fs-1: 20px;
$fs-0: 24px;
$fs0: 28px;
$fs1: 30px;

$font-sizes: (
  fs-4: $fs-4,
  fs-3: $fs-3,
  fs-2: $fs-2,
  fs-1: $fs-1,
  fs-0: $fs-0,
  fs0: $fs0,
  fs1: $fs1,
);

$h5: 20px;
$h4: 22px;
$h3: 30px;
$h2: 50px;
$h1: 100px;

$headings: (
  h1: $h1,
  h2: $h2,
  h3: $h3,
  h4: $h4,
  h5: $h5,
  // for stepping down in the h() mixin
    h6: $fs-3,
  h7: $fs-4,
);
