
.site__nav {
  @include grid-parent;
  @include gutters(vert, half, margin);
  position: absolute;
  align-items: flex-end;
  flex-direction: row;

  @media (min-width: $xxl) {
    position: fixed;
  }
}

.nav__print {
  @include gutters;
  line-height: 1;
  font-size: $fs0;

  &--upl,
  &--abl {
    font-family: $mondwest;
  }

  &--upl {
    margin-bottom: $paragraph-spacing;
    pointer-events: none;

    .js-print-line:not(:first-child) {
      display: inline-block;
    }

    .js-print-line:last-child {
      vertical-align: super;
      font-size: 75%;
      font-family: $neuebit;
      font-weight: $neuebit-bold;
    }
  }

  &--abl {
    pointer-events: none;
    position: absolute;
  }
}

