.site__nav {
  @include flex;
  @include gutters(horiz, half, margin);
  @include gutters(vert, half);
  align-items: flex-end;
  flex-direction: row;
  position: relative;

  @include mq($md) {
    @include layer(2);
    @include padding($sp0 null);
    background-color: $white;
    border-top: 1px solid $black;
    bottom: 0;
    isolation: isolate;
    left: 0;
    padding-left: calc((100% - #{$content-max-width}) / 2);
    padding-right: calc((100% - #{$content-max-width}) / 2);
    position: fixed;
    right: 0;
    width: auto;
  }
}

.progress-indicator {
  background-color: $black;
  bottom: 0;
  left: calc(-1 * var(--gutter-half));
  position: absolute;
  top: -1px;

  @include mq($md, max) {
    @include layer(2);
    bottom: unset;
    height: 10px;
    position: fixed;
    top: 0;
  }
}

.nav__print {
  @include gutters;
  color: $black;
  font-size: $fs-1;
  line-height: 1;

  @include mq($md) {
    color: $white;
    mix-blend-mode: difference;
  }

  &--upl,
  &--abl {
    font-family: $mondwest;
  }

  &--upl {
    @include layer(2);
    position: relative;

    .js-print-line:not(:first-child) {
      display: inline-block;
    }

    .js-print-line:last-child {
      vertical-align: super;
      font-size: 75%;
      font-family: $neuebit;
      font-weight: $neuebit-bold;
    }

    @include on-focus {
      + .nav__print {
        display: none;
      }
    }
  }

  &--abl {
    @include layer(1);
    pointer-events: none;
    position: absolute;
    top: var(--gutter-half);

    @include mq($md) {
      top: $sp0;
    }
  }
}
