.site__nav {
  @include flex;
  @include gutters(horiz, half, margin);
  @include gutters(vert, half);
  @include layer(2);
  align-items: flex-end;
  background-color: $white;
  flex-direction: row;

  @include mq($md) {
    @include padding($sp0 null);
    position: relative;
    border-top: 1px solid $black;
    bottom: 0;
    left: 0;
    padding-left: calc((100% - var(--content-max-width)) / 2);
    padding-right: calc((100% - var(--content-max-width)) / 2);
    position: fixed;
    right: 0;
    width: auto;
  }
}

.nav__print,
.nav__percent-complete {
  color: $white;
  mix-blend-mode: difference;
}

.nav__print {
  @include gutters;
  font-size: $fs-1;
  line-height: 1;

  &--upl,
  &--abl {
    font-family: $mondwest;
  }

  &--upl {
    @include layer(2);
    position: relative;

    .js-print-line:not(:first-child) {
      display: inline-block;
    }

    .js-print-line:last-child {
      vertical-align: super;
      font-size: 75%;
      font-family: $neuebit;
      font-weight: $neuebit-bold;
    }

    @include on-focus {
      + .nav__print {
        display: none;
      }
    }
  }

  &--abl {
    @include layer(1);
    pointer-events: none;
    position: absolute;
    top: var(--gutter-full);

    @include mq($md) {
      top: $sp0;
    }
  }
}

.nav__percent-complete {
  font-family: $neuebit;
  font-size: $fs-1;
  font-weight: $neuebit-bold;
  margin-left: auto;

  @include mq($md - 1, max) {
    bottom: 0.25em;
    height: 1em;
    left: var(--gutter-half);
    position: fixed;
  }

  @include mq($md) {
    font-size: $fs0;
  }
}

.nav__progress-indicator {
  background-color: $black;
  bottom: 0;
  left: 0;
  position: fixed;

  @include mq($md - 1, max) {
    height: $fs-1;
  }

  @include mq($md) {
    left: calc(-1 * var(--gutter-half));
    position: absolute;
    top: -1px;
  }
}
