.index__all-topics {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @include mq($bp-tablet) {
    padding-right: var(--gutter-full);
    flex-direction: row;
  }
}

.index__topic__wrapper {
  margin-bottom: $sp10;

  @include mq($bp-tablet) {
    @include gutters;
    flex: 0 0 cols(7, 14);
    margin-bottom: 0;
  }

  @include mq($bp-desktop-md) {
    flex: 0 0 cols(6, 15);
  }

  @include mq($bp-desktop-lg) {
    flex: 0 0 cols(5, 15);
  }

  @include mq($bp-desktop-xl) {
    flex: 0 0 cols(4, 15);
  }
}

.index__topic__title {
  font-family: $mondwest;
  font-size: $fs3;
  text-transform: capitalize;

  @include mq($bp-desktop-md) {
    font-size: $fs4;
  }
}

.index__topic__list {
  margin-top: $sp10;

  @include mq($bp-tablet) {
    padding-right: $sp10;
  }
}

.index__topic__item {
  margin-top: $sp8;
}

.index__link {
  display: block;
}

.index__meta {
  @include neuebit;
  display: flex;
}

.index__type {
  display: inline-block;
  padding-right: $sp1;
}

.index__date {
  color: $gray-5;
}

.index__item__title {
  @include h(2, 400, $fleuron-reg);
  margin-top: $sp3;

  @include on-focus(".index__link") {
    @include spectrum(color);
  }
}

.index__summary {
  @include transition(color);
  font-size: $fs1;
  margin-top: $sp2;
  line-height: $lh-body;

  @include on-focus(".index__link") {
    color: $gray-5;
  }
}
