$index-icon-size: 0.75em;
$search-icon-size: calc(0.75em + 4px);
$search-icon-left-margin: calc(var(--gutter-half) - 2px);
$search-icon-offset: calc(#{$search-icon-left-margin} + #{$search-icon-size});
$search-input-offset: calc(
  #{$search-icon-left-margin} + #{$search-icon-size} + var(--gutter-half) - 1px
);

/**
 * Search
 */

.search-wrapper {
  @include layer(2);
  position: sticky;
  top: -1px;
}

.search-bar {
  @include flex;
  @include gutters(horiz, full, margin);
  @include gutters(vert);
  @include layer(2);
  align-items: center;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--bg-color-inverted);
  border-top: 5px solid var(--bg-color-inverted);
  flex-grow: 0;
  position: sticky;
  top: -1px;
}

.search-icon {
  @include size($search-icon-size);
  color: var(--search-placeholder-color);
  pointer-events: none;
  position: relative;
  transition: color $transition;
  margin-bottom: 0.1em;
  margin-left: $search-icon-left-margin;

  .search-bar:focus-within & {
    color: $black;
  }
}

.search-input {
  @include focus-reset;
  font-family: $mondwest;
  background: none;
  color: var(--text-color);
  flex: 1 0 100%;
  height: 100%;
  margin-left: calc(-1 * (#{$search-icon-offset}));
  padding-bottom: 0.25em;
  padding-left: $search-input-offset;
  padding-top: 0.25em;

  &::placeholder {
    color: var(--search-placeholder-color);
  }
}

/**
 * Page
 */
.index__list {
  @include gutters(horiz, full);
  @include layer(1);
}

.js-search-results {
  &:not(.show) {
    display: none;
  }
}

.js-index-list {
  &.hide {
    display: none;
  }
}

.no-results {
  color: var(--search-placeholder-color);
  padding-top: $sp0;
}

/**
 * Entries, Collections, & Series
 */
.index__item {
  @include gutters(vert, half, margin);
  border-left: 1px solid $black;
  border-bottom: 1px solid $black;
  position: relative;

  .index__nested__list & {
    border-bottom: 0;
    margin: 0 0 0 var(--gutter-half);
  }
}

.index__link,
.index__expand-label,
.index__expand-input {
  @include focus-reset;
}

.index__link,
.index__expand-label {
  @include gutters(horiz);
  @include padding(0.125em null 0.5em);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  user-select: none;

  @include mq($md) {
    flex-wrap: nowrap;
  }
}

.index__link {
  .index__nested__list & {
    @include padding(0 null);
  }

  @include on-focus {
    color: $red;
  }
}

.index__expand-input {
  -webkit-appearance: none;
  appearance: none;
  box-sizing: content-box;
  cursor: s-resize;
  display: block;
  height: calc(1.125em + var(--gutter-full)); // match label height exactly
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: none;

  @include on-focus {
    ~ .index__expand-label {
      color: $blue;
    }
  }

  &:checked {
    cursor: n-resize;

    ~ .index__nested__list {
      height: auto;
    }

    ~ .index__expand-label {
      font-weight: $everett-bold;

      .index__icon--plus {
        display: none;
      }

      .index__icon--minus {
        display: inline-block;
      }
    }
  }
}

.index__title {
  @include flex;
  align-items: center;
  color: currentColor;
  flex: 0 0 100%;

  @include mq($md) {
    flex: 0 1 70%;

    .index__nested__list & {
      flex: 0 1 calc(70% + var(--gutter-half) / 3);
    }
  }
}

.index__icon {
  @include size($index-icon-size);
  margin-right: var(--gutter-half);

  @include on-focus('.index__link') {
    transform: rotate(-45deg);
  }

  &--minus {
    display: none;
  }
}

.index__type,
.index__date,
.index__count {
  flex: 0 1 50%;
  font-size: $fs-3;
  font-weight: inherit;
  line-height: 1;
  margin-bottom: 0.125em;
  text-transform: uppercase;

  @include mq($md) {
    flex: 0 1 15%;
    margin-bottom: 0;

    .index__nested__list & {
      flex: 0 1 calc(15% + var(--gutter-half) / 3);
    }
  }

  @include mq($lg) {
    font-size: $fs-2;
  }
}

.index__type {
  @include mq($md, max) {
    padding-left: calc(var(--gutter-full) + var(--gutter-half));

    .index__nested__list & {
      padding-left: calc(var(--gutter-half) + #{$index-icon-size});
    }
  }
}

.index__date,
.index__count {
  text-align: right;
}

.index__nested__list {
  height: 0;
  overflow: hidden;

  &:focus-within {
    height: auto;
  }
}

.topics{
  @include content-column;
  margin-bottom: $paragraph-spacing;
}

.topics__overline {
  font-family: $neuebit;
  font-size: $fs-0;
  font-weight: $neuebit-bold;
  margin-bottom: var(--gutter-half);
  text-align: center;
}

.topics__item {
  align-items: center;
  border-top: 1px solid $black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--gutter-half) 0;
  width: 100%;

  &:hover {
    @include spectrum(color);
  }
}

.topics__item-count {
  font-family: $neuebit;
  font-size: $fs-0;
  font-weight: $neuebit-bold;
  transform: translateY(1px);
}
