{% if collections.tagList | length %}
  <ul class="index__all-topics">
    {% for topic in collections.tagList %}
    <li class="index__topic__wrapper">
      <h2 class="index__topic__title">
        {{ topic | formatTopic }}
      </h2>
      <ul class="index__topic__list">

        {% set i = 0 %}

        {% for item in collections.indexItems %}

          {# The tag assigned by the json file in the directory will always be the first tag #}
          {% set tagDef = item.data.tags[0] %}
          {% set itemType = "Entry" if tagDef == "entries" else "Series" %}

          {% set itemTopic = item
            .data
            .tags[1] %}

          {% if (itemTopic == topic) and (i < 3) %}
            <li class="index__topic__item">
              <a href="{{ item.url }}" class="index__link">
                <div class="index__meta">
                  <span class="index__type">{{ itemType }}</span>
                  <span class="index__date">{{ item.data.date | readableDate }}</span>
                </div>
                <h3 class="index__item__title">
                  {{ item.data.title }}
                </h3>
                <p class="index__summary">
                  {{ item.data.summary }}
                </p>
              </a>
            </li>

            {% set i = i + 1 %}
          {% endif %}

        {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endif %}
