<section class="topics">
  <h4 class="topics__overline">Explore Topics</h4>
  <ul class="topics__list">
    <li>
      <a href="" class="topics__item">
        <h5 class="topics__item-title">HTML</h5>
        <div class="topics__item-count">
          <span class="topics__item-count__num">1</span>
          <span class="topics__item-count__type"> Series</span>,
          <span class="topics__item-count__num">4</span>
          <span class="topics__item-count__type"> Entries</span>
          &#8600;
        </div>
      </a>
    </li>
    <li>
      <a href="" class="topics__item">
        <h5 class="topics__item-title">CSS</h5>
        <div class="topics__item-count">
          <span class="topics__item-count__num">1</span>
          <span class="topics__item-count__type"> Series</span>,
          <span class="topics__item-count__num">4</span>
          <span class="topics__item-count__type"> Entries</span>
          &#8600;
        </div>
      </a>
    </li>
    <li>
      <a href="" class="topics__item">
        <h5 class="topics__item-title">SCSS</h5>
        <div class="topics__item-count">
          <span class="topics__item-count__num">1</span>
          <span class="topics__item-count__type"> Series</span>,
          <span class="topics__item-count__num">4</span>
          <span class="topics__item-count__type"> Entries</span>
          &#8600;
        </div>
      </a>
    </li>
    <li>
      <a href="" class="topics__item">
        <h5 class="topics__item-title">Git</h5>
        <div class="topics__item-count">
          <span class="topics__item-count__num">1</span>
          <span class="topics__item-count__type"> Series</span>,
          <span class="topics__item-count__num">4</span>
          <span class="topics__item-count__type"> Entries</span>
          &#8600;
        </div>
      </a>
    </li>
    <li>
      <a href="" class="topics__item">
        <h5 class="topics__item-title">Terminal</h5>
        <div class="topics__item-count">
          <span class="topics__item-count__num">1</span>
          <span class="topics__item-count__type"> Series</span>,
          <span class="topics__item-count__num">4</span>
          <span class="topics__item-count__type"> Entries</span>
          &#8600
        </div>
      </a>
    </li>
  </ul>
</section>
