---
layout: layouts/base/index.njk
templateClass: topic
date: Last Modified
eleventyComputed:
  title: '{{ topic | formatTopic(true) }}'
permalink: /topics/{{ topic | slug }}/
pagination:
  data: collections
  size: 1
  filter:
    - entries
    - series
  alias: topic
---

{% from "../../_includes/shared/macros.njk" import contentType %}

<h1>
  Topics / {{ topic | formatTopic(true) }}
</h1>

<ul>
  {% for item in collections[topic] %}
    <li>
      {{ contentType(item) }}
      <a href="{{ item.url }}">
        {{ item.data.title }}
      </a>
    </li>
  {% endfor %}
</ul>
