<section class="home__carousel">
  <h4 class="carousel__overline">&#8644; Featured Entries &#8644;</h4>
  <ul class="carousel__list">
    <li>
      <a class="carousel__card" href="">
        <span class="carousel__card-overline">
          <span class="carousel__card-type">Entry<span class="carousel__card-arrow">&nbsp;&#8599;</span></span>
          <span class="carousel__card-topic">CSS</span>
        </span>
        <h4 class="carousel__card-title">CSS Preprocessing</h4>
        <p class="carousel__card-description">Each language is a superset of CSS that shares some of the same fundamental syntax and typographical notations.</p>
      </a>
    </li>
    <li>
      <a class="carousel__card" href="">
        <span class="carousel__card-overline">
          <span class="carousel__card-type">Entry<span class="carousel__card-arrow">&nbsp;&#8599;</span></span>
          <span class="carousel__card-topic">SCSS</span>
        </span>
        <h4 class="carousel__card-title">SCSS Variables</h4>
        <p class="carousel__card-description">Each language is a superset of CSS that shares some of the same fundamental syntax and typographical notations.</p>
      </a>
    </li>
    <li>
      <a class="carousel__card" href="">
        <span class="carousel__card-overline">
          <span class="carousel__card-type">Entry<span class="carousel__card-arrow">&nbsp;&#8599;</span></span>
          <span class="carousel__card-topic">SCSS</span>
        </span>
        <h4 class="carousel__card-title">Mixins</h4>
        <p class="carousel__card-description">Each language is a superset of CSS that shares some of the same fundamental syntax and typographical notations.</p>
      </a>
    </li>
    <li>
      <a class="carousel__card" href="">
        <span class="carousel__card-overline">
          <span class="carousel__card-type">Entry<span class="carousel__card-arrow">&nbsp;&#8599;</span></span>
          <span class="carousel__card-topic">Terminal</span>
        </span>
        <h4 class="carousel__card-title">Useful Commands</h4>
        <p class="carousel__card-description">Each language is a superset of CSS that shares some of the same fundamental syntax and typographical notations.</p>
      </a>
    </li>
    <li>
      <a class="carousel__card" href="">
        <span class="carousel__card-overline">
          <span class="carousel__card-type">Entry<span class="carousel__card-arrow">&nbsp;&#8599;</span></span>
          <span class="carousel__card-topic">CSS</span>
        </span>
        <h4 class="carousel__card-title">The Box Model</h4>
        <p class="carousel__card-description">Each language is a superset of CSS that shares some of the same fundamental syntax and typographical notations.</p>
      </a>
    </li>
    <li >
      <a class="carousel__card" href="">
        <span class="carousel__card-overline">
          <span class="carousel__card-type">Entry<span class="carousel__card-arrow">&nbsp;&#8599;</span></span>
          <span class="carousel__card-topic">CSS</span>
        </span>
        <h4 class="carousel__card-title">CSS Preprocessing</h4>
        <p class="carousel__card-description">Each language is a superset of CSS that shares some of the same fundamental syntax and typographical notations.</p>
      </a>
    </li>
  </ul>
</section>
