{% macro wrapWords(title = '', className = 'fleuron-mix') %}
  {% set words = title | split(' ') %}
  {% for word in words %}
    <span class="{{ className }}">{{ word }}</span>
  {% endfor %}
{% endmacro %}

{% macro contentType(tags) %}
  {# The tag assigned by the json file in the directory will always be the first tag #}
  {% set tagDef = tags[0] %}
  {% if tagDef == "entries" %}
    Entry
  {% endif %}
  {% if tagDef == "series" %}
    Series
  {% endif %}
  {% if tagDef == "collections" %}
    Collection
  {% endif %}
{% endmacro %}

{% macro breadcrumbs(first, current, class) %}
  <nav class="breadcrumbs{% if class %} {{ class }}{% endif %}" >
    {% if first == 'Topics' %}
      <a href="/">~ups-public-library</a> / Topics / {{ current | formatTopic }}
    {% else %}
      <a href="/">~ups-public-library</a> / <a href="{{ "/topics/" ~ first }}">{{ first | formatTopic }}</a> / {{ current }}
    {% endif %}
  </nav>
{% endmacro %}
