<div class="search-bar js-search-bar">
  <form action="/search" method="GET" autocomplete="off">
    <input class="js-search-input" type="text" placeholder="Search (press ‘/’ to focus)">
  </form>
</div>
