<div class="search-bar js-search-bar">
  <form action="/search" method="GET" autocomplete="off">
    <input class="js-search-input" type="text" name="q" placeholder="Search (press ‘/’ to focus)">
  </form>

  <div class="search-bar-results js-search-bar-results">
    <ul class="js-result-list"></ul>
  </div>
</div>
