<svg display="none" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>

    <symbol id="arrow" viewbox="0 0 27 28" fill="none">
      <path d="M13 1L26 14M26 14L13 27" stroke="currentColor" stroke-linecap="square"/>
      <path d="M0 14H26" stroke="currentColor"/>
    </symbol>

    <symbol id="plus" viewbox="0 0 27 27" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M14 13V0H13V13H0V14H13V27H14V14H27V13H14Z" fill="currentColor"/>
    </symbol>

    <symbol id="minus" viewbox="0 0 27 27" fill="none">
      <path d="M0 13H27V14H0V13Z" fill="currentColor"/>
    </symbol>

  </defs>
</svg>
