<svg display="none" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>

    <symbol id="search" viewbox="0 0 20 20" fill="none">
      <circle cx="11" cy="9" r="8" stroke="currentColor" stroke-width="2"/>
      <path d="M1 19L5 15" stroke="currentColor" stroke-width="2"/>
    </symbol>

    <symbol id="arrow" viewbox="0 0 27 28" fill="none">
      <path d="M13 1L26 14M26 14L13 27" stroke="currentColor" stroke-linecap="square" stroke-width="2"/>
      <path d="M0 14H26" stroke="currentColor" stroke-width="2"/>
    </symbol>

    <symbol id="plus" viewbox="0 0 27 27" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M14 13V0H13V13H0V14H13V27H14V14H27V13H14Z" fill="currentColor" stroke="currentColor" stroke-width="1"/>
    </symbol>

    <symbol id="minus" viewbox="0 0 27 27" fill="none">
      <path d="M0 13H27V14H0V13Z" fill="currentColor" stroke-width="2"/>
    </symbol>

    <symbol viewbox="0 0 13 13" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M5 2L8 2V3L5 3V2ZM4 4V3L5 3V4H4ZM4 7H3L3 4H4L4 7ZM5 9H4V7H5L5 9ZM8 9H7V5H6L6 9H5V10H4V11H5V12H6V13H7V12H8V11L9 11L9 10H8V9ZM9 7V9H8V7H9ZM9 4V3H8V4H9ZM9 4V7H10V4H9ZM8 10H5V11H8L8 10Z" fill="currentColor"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M7 0L6 0V1L7 1V0ZM3 1L2 1L2 2L3 2L3 1ZM0 4H1L1 5H0L0 4ZM1 7H2V8H1L1 7ZM12 4L13 4V5H12V4ZM12 7H11V8H12V7ZM10 1L11 1V2L10 2V1Z" fill="currentColor"/>
    </symbol>

  </defs>
</svg>
