.series__content {
  @include content-column;
}

.breadcrumb {
  display: flex;
  font-family: $neuebit;
  font-size: $fs-0;
  font-weight: $neuebit-bold;
  justify-content: center;
  margin-bottom: var(--gutter-half);

}
