.series {
  margin-top: var(--gutter-half);
}

.series__breadcrumbs-wrapper {
  @include mq($md) {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
  }
}

.series__breadcrumbs {
  margin: 0 auto;
  padding-top: $sp-4;
}

.series__content {
  @include content-column;
}

.series__header {
  text-align: center;
  margin-bottom: $paragraph-spacing;

  p {
    text-align: center;
  }
}

.series__label {
  font-family: $neuebit;
  font-size: $fs0;
  font-weight: $neuebit-bold;
}

.series__title {
  margin-bottom: $sp1;
  font-size: $fs2;
}

/**
 * Entries
 */
.series__list {
  margin-bottom: $section-spacing;

  li {
    padding-left: 0;

    &::before {
      content: '';
      display: none;
    }
  }
}

.series__entry {
  display: block;
  padding: var(--gutter-full) 0;
  position: relative;
  text-align: center;
  width: 100%;

  &:hover {
    cursor: ne-resize;

    .series__entry-card {
      display: block;
    }
  }
}

.series__entry-title {
  @include h(2, $family: $fleuron-reg, $weight: 300);
}

.series__entry-num {
  display: block;
  font-family: $neuebit;
  font-size: $fs0;
  font-weight: $neuebit-bold;
  margin-bottom: $sp-2;
}
