---
layout: layouts/base/index.njk
templateClass: series
---

{% if content %}
  <section class="series__content md">
    <h1>Series: {{ title }}</h1>
    {{ content | safe }}

    <ul>
      {% for entry in entries %}
        <li>
          <a href="{{ '/entries/' ~ (entry | slug) }}" class="">
            {{ entry }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
