---
layout: layouts/base/index.njk
templateClass: series
---

{% import "../../shared/macros.njk" as macros %}

{% if content %}

{% include '../../shared/topper/index.njk' %}

{% set topic = tags[1] %}

  <span class="series__breadcrumbs-wrapper">
    {{ macros.breadcrumbs(topic, title, 'series__breadcrumbs') }}
  </span>

  <section class="series__content">
    <header class="series__header">
      <div class="series__label">{{ macros.contentType(tags) }}</div>
      <h1 class="series__title">{{ title }}</h1>
      {{ content | safe }}
    </header>

    <ul class="series__list">
      {% for entry in entries %}
        <li>
          <a href="{{ '/entries/' ~ (entry | slug) }}" class="series__entry">
            <span class="series__entry-num">№ 0{{ loop.index }}</span>
            <h5 class="series__entry-title">{{ macros.wrapWords(entry) }}</h5>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>

{% endif %}
