.entry {
  @include gutters(vert, half, margin);

  @include mq($md) {
    padding-bottom: $sp6;
  }
}

.entry__content {
  @include content-column;
  @include margin($sp4 null);

  @include mq($lg) {
    margin-top: $sp4 * 3;
    margin-bottom: $sp6;
  }
}
