$progress-bar-height: 73px;

.entry {
  padding-bottom: $fs-1;
  padding-top: var(--gutter-half);

  @include mq($md) {
    padding-bottom: $sp7;
    padding-top: 0;
  }
}

// Table of contents

.entry__toc--wrapper {
  @include layer(2);
  bottom: $progress-bar-height;
  display: none;
  flex-direction: column;
  font-size: $fs-4;
  left: 0;
  line-height: $fs-4;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: var(--gutter-half);
  position: fixed;
  top: 0;

  &:hover,
  &:focus-within {
    overflow-y: auto;
  }

  @include mq($md) {
    display: flex;
    max-width: calc((100% - var(--content-max-width)) / 2);
  }

  @media (min-width: $md) and (max-width: $lg) {
    transition: width 100ms ease;
    width: calc((100% - var(--content-max-width)) / 2);
    max-width: none;

    &::before {
      @include layer(-1);
      background-color: var(--bg-color);
      border-right: 1px solid var(--bg-color-inverted);
      content: '';
      height: calc(100vh - #{$progress-bar-height});
      left: 0;
      position: fixed;
      top: 0;
      transition: width 100ms ease;
      width: $sp3;
    }

    &:hover,
    &:focus-within {
      max-width: 18em;
      width: 18em;

      &:before {
        width: 18em;
      }
    }
  }
}

.entry__toc {
  margin-bottom: auto;
  margin-top: auto;
  position: relative;

  @media (min-width: $md) and (max-width: $lg) {
    @include layer(1);
    position: relative;
    padding-right: var(--gutter-half);
  }
}

li {
  .entry__toc & {
    margin: $sp-3 0;

    a {
      padding-left: 0.7em;
    }

    ol {
      li {
        a {
          padding-left: 1.2em;

          &::before {
            content: '••';
          }
        }

        ol {
          li {
            a {
              padding-left: 1.6em;

              &::before {
                content: '•••';
              }
            }

            ol {
              li {
                a {
                  padding-left: 2em;

                  &::before {
                    content: '••••';
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

a {
  .entry__toc:hover & {
    color: var(--secondary-text-color);

    &.current {
      &:not(:hover):not(:focus) {
        color: var(--text-color);
      }
    }
  }

  @media (min-width: $md) and (max-width: $lg) {
    .entry__toc--wrapper:hover & {
      color: var(--secondary-text-color);

      &.current {
        &:not(:hover):not(:focus) {
          color: var(--text-color);
        }
      }
    }
  }
}

a {
  .entry__toc & {
    color: rgba(0, 0, 0, 0);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color ease 150ms, -webkit-text-stroke ease 150ms;
    white-space: nowrap;
    width: 100%;

    &::before {
      -webkit-text-stroke: 1px var(--text-color);
      color: var(--bg-color);
      content: '•';
      display: inline-block;
      font-size: $fs-3;
      left: 0;
      position: absolute;
      transform: translateY(-1px);
    }

    &.current {
      &::before {
        color: var(--text-color);
      }
    }

    @include on-focus {
      @include spectrum(color);

      &::before {
        -webkit-text-stroke: currentColor 1px;
        color: currentColor;
      }
    }
  }
}

// Nav

.site__nav {
  @include flex;
  @include gutters(horiz, half);
  @include gutters(vert, half);
  @include layer(2);
  align-items: flex-end;
  background-color: $white;
  flex-direction: row;
  position: relative;

  @media (max-width: $md) {
    justify-content: center;
    margin-bottom: $sp4;
    text-align: center;
  }

  @include mq($md) {
    border-top: 1px solid $black;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    width: auto;
  }
}

.nav__print,
.nav__percent-complete {
  color: $white;
  mix-blend-mode: difference;
}

.nav__print {
  font-size: $fs-1;
  line-height: 1;

  &--upl,
  &--abl {
    font-family: $mondwest;
  }

  &--upl {
    @include layer(2);
    position: relative;

    .js-print-line:not(:first-child) {
      display: inline-block;
    }

    .js-print-line:last-child {
      vertical-align: super;
      font-size: 75%;
      font-family: $neuebit;
      font-weight: $neuebit-bold;
    }

    @include on-focus {
      + .nav__print {
        display: none;
      }
    }
  }

  &--abl {
    @include layer(1);
    pointer-events: none;
    position: absolute;
    top: var(--gutter-half);

    @include mq($md) {
      top: calc(var(--gutter-half) + 1px);
    }
  }
}

.nav__percent-complete {
  font-family: $neuebit;
  font-size: $fs-1;
  font-weight: $neuebit-bold;
  margin-left: auto;

  @include mq($md - 1, max) {
    bottom: 0.25em;
    height: 1em;
    left: var(--gutter-half);
    position: fixed;
  }

  @include mq($md) {
    font-size: $fs1;
  }
}

.nav__progress-indicator {
  background-color: $black;
  bottom: 0;
  left: 0;
  position: fixed;

  @include mq($md - 1, max) {
    height: $fs-1;
  }

  @include mq($md) {
    position: absolute;
    top: -1px;
  }
}

// Entry content

.entry__header,
.entry__content,
.entry__footer {
  @include content-column;
}

.entry__header,
.entry__footer {
  font-size: $fs-3;
}

.entry__header {
  padding-top: var(--gutter-full);

  @include mq($md) {
    text-align: center;
  }
}

.entry__content {
  padding-top: var(--gutter-half);

  @include mq($md) {
    padding-top: $sp6;
  }

  @include mq($lg) {
    padding-top: $sp8;
  }
}

.entry__footer {
  text-align: center;
}

.next-entry {
  padding-bottom: var(--gutter-full);

  a {
    font-size: $fs-1;
  }
}

.dingbat__wrapper {
  @include margin($sp6 null);
  align-items: center;
  display: flex;
  font-family: $fleuron-dingbats;
  font-size: $h1;
  height: 1em;
  justify-content: center;
  text-align: center;

  @include mq($lg) {
    @include margin($sp8 null);
  }
}

.dingbat__text {
  display: block;
  height: 1em;
  line-height: 0.7;
}
