---
layout: layouts/base/index.njk
templateClass: entry
---

{% macro wrapWords(title = '', className = '') %}
  {% set words = title | split(' ') %}
  {% for word in words %}
    <span {% if className %} class="{{ className }}" {% endif %}>{{ word }}</span>
  {% endfor %}
{% endmacro %}

{% if content %}
  <section class="entry__content md">
    <h1>{{ wrapWords(title) }}</h1>
    {{ content | safe }}
    {% if nextEntryTitle %}
      <p>
        Next:
        <a href="{{ '/entries/' ~ nextEntryTitle | slug }}" class="next-entry-link">{{ nextEntryTitle }}</a>
      </p>
    {% endif %}
  </section>
  <section class="entry__aside">
    <div class="entry__annotation">
      <h4>HTML</h4>
      <p>The most basic building block of the Web. It defines the meaning and structure of web content.</p>
    </div>
  </section>
{% endif %}
