.home__header,
.home__nav {
  @include grid-parent;
  @include gutters(vert, half, margin);
}

.home__header {
  flex-direction: column;

  @include mq($sm) {
    flex-direction: row;
    justify-content: space-between;
    min-height: 25vh;
  }
}

.home__nav {
  align-items: flex-start;
  flex-direction: column;
  position: relative;

  @include mq($sm) {
    align-items: flex-end;
    flex-direction: row;
  }
}

.home__links {
  @include mq($sm) {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    flex: 0 0 66.667%;
  }
}

.home__print {
  @include gutters;
  line-height: 1;

  &--upl,
  &--abl {
    font-family: $mondwest;

    font-size: $fs-1;

    @include mq($md) {
      font-size: $fs0;
    }
  }

  &--upl {
    margin-bottom: $sp-5;
    pointer-events: none;

    @include mq($sm) {
      margin-bottom: $paragraph-spacing;
    }

    .js-print-line:not(:first-child) {
      display: inline-block;
    }

    .js-print-line:last-child {
      vertical-align: super;
      font-size: 75%;
      font-family: $neuebit;
      font-weight: $neuebit-bold;
    }
  }

  &--abl {
    pointer-events: none;
    position: absolute;
  }

  &--temp,
  &--link,
  &--tip {
    font-family: $neuebit;
    font-size: $fs0 - 3px;
    font-weight: $neuebit-bold;
    line-height: 0.7;

    @include mq($md) {
      font-size: $fs0;
    }
  }

  &--link {
    @include focus-reset;
    display: inline-block;
  }

  &--tip {
    @include mq($sm, max) {
      display: none;
    }

    @include mq($sm) {
      margin-left: auto;
    }
  }
}

.home__welcome {
  @include gutters;
  font-size: $fs-2;
  line-height: 1.25;
  text-indent: 1.25em;

  @include mq($sm) {
    margin-bottom: $paragraph-spacing;
    max-width: 23em;
  }
}

.home__link__wrapper {
  flex: 1 0 auto;
  line-height: 1;

  @include mq($md, max) {
    & + & {
      margin-top: var(--gutter-half);
    }
  }
}
