.home__header,
.home__nav {
  @include grid-parent;
  @include gutters(vert, half, margin);
}

.home__header {
  min-height: 35vh;
  flex-direction: column;

  @include mq($md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.home__nav {
  position: relative;
  align-items: flex-end;
  flex-direction: row;
}

.home__links {
  @include mq($md) {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    flex: 0 0 66.667%;
  }
}

.home__print {
  @include gutters;
  line-height: 1;
  font-size: $fs2;

  &--upl,
  &--abl {
    font-family: 'Mondwest';
  }

  &--upl {
    margin-bottom: $paragraph-spacing;
    pointer-events: none;

    .js-print-line:not(:first-child) {
      display: inline-block;
    }

    .js-print-line:last-child {
      vertical-align: super;
      font-size: 75%;
      font-family: 'NeueBit';
    }
  }

  &--abl {
    pointer-events: none;
    position: absolute;
  }

  &--temp,
  &--link,
  &--tip {
    font-family: 'NeueBit';
    line-height: 0.7;
  }

  &--link {
    @include focus-reset;
    display: inline-block;
  }

  &--tip {
    margin-left: auto;
  }
}

.home__welcome {
  @include gutters;
  font-size: $fs-1;
  margin-bottom: $paragraph-spacing;
  text-indent: 0.5em;

  @include mq($sm) {
    max-width: 23em;
  }
}

.home__link__wrapper {
  flex: 1 0 auto;
  line-height: 1;
  margin-top: $paragraph-spacing;

  @include mq($md) {
    margin-top: 0;
  }
}
