.home__header {
  @include grid-parent;
  @include gutters(vert, half, margin);

  a {
    color: var(--spectrum);
  }
}

.home__header {
  flex-direction: column;
  margin-bottom: $paragraph-spacing * 2;

  @include mq($sm) {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    min-height: 10vh;
  }
}

.home__header-primary {
  position: relative;
}

.home__header-tip {
  padding: 0 10px;
  text-align: center;
  position: relative;

  @include mq($sm, max) {
    display: none;
  }
}

.home__tip-refresh {
  @include size(0.9em);
  @include spectrum(color);
  transform: translateY(-4px);
}

.home__tip-dingbat {
  font-size: 70px;
  margin-bottom: -0.25em;
  margin-top: 0.2em;
}

.home__tip-corner {
  font-family: $neuebit;
  font-size: $fs2;
  font-weight: $neuebit-bold;
  line-height: 1em;
  position: absolute;

  &--top-left {
    left: 0;
    top: -$sp-5;
  }

  &--top-right {
    right: 0;
    top: 0;
    transform: rotate(180deg);
  }

  &--bottom-left {
    bottom: 0;
    left: 0;
  }

  &--bottom-right {
    bottom: -$sp-4;
    right: 0;
  }
}

svg.home__tip-corner {
  @include size(0.4em);
}

.home__print {
  @include gutters;
  line-height: 1;

  &--upl,
  &--abl {
    font-family: $mondwest;
    font-size: $fs-1;

    @include mq($md) {
      font-size: $fs0;
    }
  }

  &--upl {
    margin-bottom: $sp-5;
    pointer-events: none;

    @include mq($sm) {
      margin-bottom: $sp-1;
    }

    .js-print-line:not(:first-child) {
      display: inline-block;
    }

    .js-print-line:last-child {
      vertical-align: super;
      font-size: 75%;
      font-family: $neuebit;
      font-weight: $neuebit-bold;
    }
  }

  &--abl {
    pointer-events: none;
    position: absolute;
    top: 0;
  }

  &--temp,
  &--link,
  &--tip {
    font-family: $neuebit;
    font-size: $fs1 - 3px;
    font-weight: $neuebit-bold;
    line-height: 0.7;

    @include mq($md) {
      font-size: $fs1;
    }
  }

  &--link {
    @include focus-reset;
    display: inline-block;
  }

  &--tip {
    @include mq($sm) {
      margin-left: auto;
    }
  }

  &--tip-content {
    font-family: $mondwest;
    font-size: $fs-1;
    margin-top: $sp-4;

    @include mq($md) {
      font-size: $fs0;
    }
  }
}

.home__welcome {
  @include gutters;
  font-size: $fs-2;
  line-height: 1.25;

  @include mq($sm) {
    margin-bottom: $paragraph-spacing;
    max-width: 15em;
  }

  a {
    @include spectrum(color);
  }
}
