<header class="home__header">
  <h1 class="home__print home__print--upl" data-print="Upstatement/n/Public Library/n/v2.0a" data-initial-delay="1000"></h1>
  <div class="home__print home__print--abl" data-print="Always be learning." data-initial-delay="11500" data-visible-for="1000" data-invisible-for="11000"></div>
  <p class="home__welcome">Welcome to the Upstatement Public Library, a collection of information created to help people teach themselves to make websites.</p>
</header>
<nav class="home__nav">
  <ul class="home__links">
    <li class="home__link__wrapper">
      <a href="https://upstatement.com" class="home__print home__print--link" data-use-hover="true" data-print="Upstatement ☕" data-invisible-for="500"></a>
    </li>
    <li class="home__link__wrapper">
      <a href="https://github.com/upstatement/ups-public-library" class="home__print home__print--link" data-use-hover="true" data-print="MIT ⚖ View Source" data-invisible-for="500"></a>
    </li>
  </ul>
  <div class="home__print home__print--tip" data-print="     Tip № 17:/n/Take your time. ♪" data-initial-delay="1200"></div>
</nav>
