<header class="home__header">
  <h1 class="home__print home__print--upl" data-print="Upstatement/n/Public Library/n/v2.0a" data-initial-delay="1000"></h1>
  <div class="home__print home__print--abl" data-print="Always be learning." data-initial-delay="11500" data-visible-for="1000" data-invisible-for="11000"></div>
  {# <div class="home__print home__print--last-update" data-loops="1" data-fill-mode="backwards" data-print="  Last update:/n/2 minutes ago" data-initial-delay="4250" data-visible-for="9000" data-invisible-for="27000"></div> #}
  <p class="home__welcome">Welcome to the Upstatement Public Library, a collection of information created to help people teach themselves to make websites.</p>
  {# <div class="home__welcome">
    <p class="home__welcome">Welcome to the Upstatement Public Library, a collection of information created to help people teach themselves to make websites.</p>
    <p>The Library is designed to enable sustainable self-directed learning and foster long-term growth.</p>
  </div> #}
</header>
<nav class="home__util-links">
  <div class="home__link__wrapper">
    <a href="https://upstatement.com" class="home__print home__print--link" data-use-hover="true" data-print="Upstatement ☕" data-invisible-for="500"></a>
  </div>
  <div class="home__link__wrapper">
    <a href="https://github.com/upstatement/ups-public-library" class="home__print home__print--link" data-use-hover="true" data-print="MIT ⚖ View Source" data-invisible-for="500"></a>
  </div>
  <div class="home__print home__print--temp" data-print="☼ 70° BK, NY" data-initial-delay="1000"></div>
  <div class="home__print home__print--tip" data-print="     Tip № 17:/n/Take your time. ♪" data-initial-delay="1200"></div>
</nav>
