<header class="home__header">
  <div class="home__header-primary">
    <h1 class="home__print home__print--upl" data-print="Upstatement/n/Public Library/n/v2.0a" data-initial-delay="1000"></h1>
    <div class="home__print home__print--abl" data-print="Always be learning." data-initial-delay="11500" data-visible-for="1000" data-invisible-for="11000" data-fill-mode="backwards"></div>
    <p class="home__welcome">A knowledge base and learning tool for designers who want to write more code. Made by <a href="https://upstatement.com/">Upstatement</a>.</p>
  </div>
  <div class="home__header-tip">
    <svg class="home__tip-corner home__tip-corner--top-right">
      <use xlink:href="#corner"></use>
    </svg>
    <span class="home__tip-corner home__tip-corner--top-left">✨</span>
    <span class="home__tip-corner home__tip-corner--bottom-right">✨</span>
    <svg class="home__tip-corner home__tip-corner--bottom-left">
      <use xlink:href="#corner"></use>
    </svg>
    <svg class="home__tip-refresh">
      <use xlink:href="#refresh"></use>
    </svg>
    <div class="home__print home__print--tip" data-print="Tip № 8" data-initial-delay="1200"></div>
    <div class="home__print home__print--tip home__print--tip-content" data-print="Inspect it." data-initial-delay="2000"></div>
    <div class="home__tip-dingbat dingbat__wrapper">
      <span id="js-random-dingbat" class="dingbat__text">x</span>
    </div>
  </div>
</header>
