/**
 * Topics Index
 */
.topics {
  @include content-column;
  margin-bottom: $paragraph-spacing;

  // &::before {
  //   @include absolute(50%);
  //   @include size(450px);
  //   @include spectrum(background-color);
  //   border-radius: 50%;
  //   content: '';
  //   display: block;
  //   transform: translateX(-50%);
  //   transition: background-color 0.3s;
  //   z-index: -1;
  // }
}

.topics__overline {
  font-family: $neuebit;
  font-size: $fs0;
  font-weight: $neuebit-bold;
  margin-bottom: var(--gutter-half);
  text-align: center;
}

.topics__item {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--gutter-half) 0;
  width: 100%;

  &:hover {
    cursor: se-resize;

    .topics__item-count {
      @include spectrum(color);
    }
  }
}

.topics__item-title {
  font-family: $fleuron-reg;
  font-size: $h2;
}

.topics__item-count {
  font-family: $neuebit;
  font-size: $fs0;
  font-weight: $neuebit-bold;
  transform: translateY(1px);
}
