/**
 * Topics Index
 */
.topics {
  @include gutters;
  background-color: $black;
  color: $white;
  padding-top: $section-spacing;
  padding-bottom: $section-spacing;
}

.topics__overline {
    @include content-column;
  // font-family: $mondwest;
  // opacity: 0.15;
  // letter-spacing: 0.15em;
  // margin-bottom: -250px;
  // text-transform: uppercase;
  // width: 100%;
  // z-index: -1;
  color: $white;
  font-family: $mondwest;
  font-size: 60px;
  margin-bottom: $sp-1;
  text-align: center;


  // span {
  //   display: inline-block;
  //   transform: translateY(-85px);
  // }
}

.topics__list {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $paragraph-spacing;
  position: relative;
}

.topics__item {
  display: block;
  margin: $sp-5 30px;
  text-align: center;

  &:hover {
    cursor: ne-resize;

    .topics__item-count {
      @include spectrum(color);
    }
  }
}

.topics__item-title {
  color: $white;
  font-family: $fleuron-mix;
  font-size: 58px;
  line-height: 1.25;
}

.topics__item-count {
  color: $white;
  font-family: $neuebit;
  font-size: $fs0;
  font-weight: $neuebit-bold;
  transform: translateY(1px);
}
