@font-face {
  font-family: 'GT America';
  src: url('/fonts/GT-America-Standard-Regular.woff');
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'GT America';
  src: url('/fonts/GT-America-Standard-Regular-Italic.woff');
  font-weight: 300;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'GT America';
  src: url('/fonts/GT-America-Standard-Medium.woff');
  font-weight: 500;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'GT America';
  src: url('/fonts/GT-America-Standard-Medium-Italic.woff');
  font-weight: 500;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'GT America';
  src: url('/fonts/GT-America-Standard-Bold.woff');
  font-weight: 700;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'GT America';
  src: url('/fonts/GT-America-Standard-Bold-Italic.woff');
  font-weight: 700;
  font-style: italic;
  font-display: fallback;
}



