.home {
  @include grid-parent;
  @include gutters(vert, full, margin);
  align-content: flex-start;
  flex-flow: row wrap;
  position: relative;
}

.print {
  .home & {
    @include gutters;
    flex: 1 0 100%;
  }
}

.print--upl {
  .home & {
    margin-bottom: 1em;
  }
}

.print--abl,
.print--tip {
  .home & {
    bottom: 0;
    position: absolute;
  }
}
