.main--home {
  padding-right: 0;
  margin-right: calc(-1 * var(--gutter-half));
}

.home__welcome,
.home__foss {
  @include neuebit;
  margin-top: $sp4;

  @include mq($bp-tablet) {
    @include grid-child(1, 1, 5);
    margin: 0;

    p {
      max-width: 18em;
    }
  }

  @include mq($xl) {
    @include grid-child(0, 0, 5);
  }

  p + p {
    margin-top: $sp1;
  }

  a {
    @include spectrum(color);
    font-family: $mondwest;
    line-height: 0;
    font-size: 0.75em;
  }
}
