@import './index/_styles.scss';

.base__main-wrapper {
  .home & {
    @include mq($bp-tablet) {
      padding-right: 0;
    }
  }
}

.main--home {
  @include mq($bp-tablet) {
    flex: 0 0 cols(14);
    margin-bottom: calc(-1 * var(--gutter-half));
    margin-right: calc(-1 * var(--gutter-half));
    overflow-x: scroll;
    padding: 0;
  }

  @include mq($bp-desktop-md) {
    flex: 0 0 cols(15);
  }
}

.home__welcome,
.home__foss {
  @include neuebit;
  margin-top: $sp4;

  @include mq($bp-tablet) {
    @include grid-child(1, 1, 7);
    margin: 0;

    p {
      max-width: 18em;
    }
  }

  @include mq($bp-desktop-lg) {
    @include grid-child(0, 0, 5);
  }

  @include mq($bp-desktop-xl) {
    @include grid-child(0, 0, 4);
  }

  p + p {
    margin-top: $sp1;
  }

  a {
    @include spectrum(color);
    font-family: $mondwest;
    line-height: 0;
    font-size: 0.75em;
  }
}
