---
layout: layouts/base/index.njk
permalink: /
title: Always Be Learning
templateClass: home
---

<header class="home__header">
  <h1 class="home__print home__print--upl" data-print="  Upstatement Public Library/n/Version 2.0" data-initial-delay="1000" data-visible-for="7000"></h1>
  <div class="home__print home__print--abl" data-print="Always be learning" data-initial-delay="8500" data-visible-for="1500" data-invisible-for="7500" data-fill-mode="backwards"></div>
  <div class="home__print home__print--last-update" data-print="  Last update:/n/2 minutes ago" data-initial-delay="4500" data-visible-for="7000" data-invisible-for="20000"></div>
</header>
<div class="flex-end home__body">
  <p class="home__welcome">Welcome to the Upstatement Public Library, a collection of information created to help people teach themselves to make websites. Starting with foundational knowledge and working up to production web development practices, the Library is designed to enable sustainable self-directed learning and foster long-term growth.</p>
  <nav class="home__nav">
    <ul>
      <li>
        <a data-print="Browse" data-initial-delay="6000" data-loops="1" class="home__nav__link" href="/index"></a>
      </li>
      <li>
        <a data-print="Beginners: Begin Here" data-initial-delay="6500" data-loops="1" class="home__nav__link" href="/entries/intro-to-html/"></a>
      </li>
    </ul>
  </nav>
</div>
<footer class="home__footer">
  <div class="home__link__wrapper">
    <a href="https://upstatement.com" class="home__print home__print--link" data-print="Upstatement" data-initial-delay="1000" data-invisible-for="750"></a>
  </div>
  <div class="home__link__wrapper">
    <a href="https://github.com/upstatement/ups-public-library" class="home__print home__print--link" data-print="MIT Lic. — View Source" data-initial-delay="1250" data-invisible-for="750"></a>
  </div>
  <div class="home__print home__print--tip" data-print="    Tip № 67:/n/Take your time." data-initial-delay="1500" data-visible-for="6000" data-invisible-for="4000"></div>
</footer>
