---
layout: layouts/base/index.njk
permalink: /
title: Always Be Learning
templateClass: home
---

{% include '../../_includes/shared/topper/index.njk' %}
{% include './featuredCarousel/index.njk' %}
