---
layout: layouts/base/index.njk
permalink: /
title: Always Be Learning
---

<div class="print" data-print="    Upstatement Public Library/n/Version 2.0" data-delay="200" data-pause-range="30, 70" data-duration="4000"></div>
<div class="print" data-print="    Welcome,/n/learner." data-delay="200" data-pause-range="30, 70" data-duration="4000"></div>
