.carousel__overline {
  font-family: $neuebit;
  font-size: $fs0;
  font-weight: $neuebit-bold;
  margin-bottom: var(--gutter-half);
  text-align: center;
}

.carousel__list {
  @include grid-parent;
  overflow-x: scroll;
  padding: 0 var(--gutter-full) var(--gutter-half);
  margin-bottom: $paragraph-spacing * 2;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.carousel__card {
  border: 1px solid $gray-3;
  color: var(--text-color);
  display: block;
  height: 300px;
  padding: var(--gutter-half) calc(var(--gutter-half) * 1.5);
  margin-right: 10px;
  width: 270px;

  &:hover {
    background-color: var(--bg-color-inverted);
    border-color: $black;
    color: var(--text-color-inverted);
    cursor: ne-resize;

    .carousel__card-title {
      color: $white;
    }

    .carousel__card-arrow {
      display: inline-block;
    }
  }
}

.carousel__card-arrow {
  display: none;
}

.carousel__card-overline {
  display: flex;
  flex-direction: row;
  font-family: $neuebit;
  font-size: $fs0;
  font-weight: $neuebit-bold;
  justify-content: space-between;
  margin-bottom: var(--gutter-half);
}

.carousel__card-title {
  font-family: $fleuron-reg;
  font-size: $fs2;
  min-height: 70px;
  line-height: 1.15;
  margin-bottom: var(--gutter-half);
}

.carousel__card-description {
  font-size: $fs-1;
  line-height: 1.25;
  margin-bottom: 0.25em;
}
