.home__carousel {
  padding: $section-spacing 0;

  &::after {
    border-bottom: 1px solid $black;
    content: '';
    margin: 0 var(--gutter-full);
    display: block;
  }
}

.carousel__overline {
  @include gutters(horiz, full, margin);
  border-bottom: 1px solid $black;
  font-family: $mondwest;
  font-size: $fs1;
  padding-bottom: var(--gutter-half);
  text-align: center;
}

.carousel__list {
  display: flex;
  -ms-overflow-style: none;  /* IE and Edge */
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-bottom: var(--gutter-half);
  padding-top: var(--gutter-full);
  scrollbar-width: none;  /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.carousel__card__wrapper {
  @include gutters(horiz, full);
}

.carousel__card__link {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 240px;
  width: 360px;

  @include on-focus {
    cursor: ne-resize;

    .carousel__card-title {
      @include spectrum(color);
    }

    .carousel__card-arrow {
      display: inline-block;
    }
  }
}

.carousel__card-title {
  font-family: $fleuron-reg;
  font-weight: 400;
  font-size: $fs3;
  line-height: 1;
  margin-bottom: var(--gutter-half);
}

.carousel__card-description {
  font-size: $fs-2;
  line-height: 1.25;
  margin-bottom: var(--gutter-half);
}

.carousel__card-meta {
  display: flex;
  flex-direction: row;
  font-family: $neuebit;
  font-size: $fs0;
  font-weight: $neuebit-bold;
  justify-content: space-between;
  line-height: 1;
  margin-top: auto;
}

.carousel__card-arrow {
  display: none;
}
