.carousel__overline {
  font-family: $neuebit;
  font-size: $fs0;
  font-weight: $neuebit-bold;
  margin-bottom: var(--gutter-half);
  text-align: center;
}

.carousel__list {
  @include grid-parent;
  overflow-x: scroll;
  padding: $section-spacing 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.carousel__card {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  padding: var(--gutter-half) var(--gutter-full);
  width: 480px;

  &:hover {
    cursor: ne-resize;

    .carousel__card-arrow {
      display: inline-block;
    }
  }
}

.carousel__card-arrow {
  display: none;
}

.carousel__card-meta {
  display: flex;
  flex-direction: row;
  font-family: $neuebit;
  font-size: $fs0;
  font-weight: $neuebit-bold;
  justify-content: space-between;
  margin-bottom: var(--gutter-half);
  padding-top: $sp-4;
}

.carousel__card-title {
  font-family: $fleuron-reg;
  font-size: $fs3;
  line-height: 1.15;
  margin-bottom: var(--gutter-half);
}

.carousel__card-description {
  font-size: $fs-1;
  line-height: 1.25;
  margin-bottom: $sp-1;
}
