.index {
  padding-left: $gutter-full;
  padding-bottom: $gutter-full;
}

.index__type {
  @include padding($sp0 null);
  font-size: $fs-1;
  line-height: 1;
  min-width: 8em;
  pointer-events: none;
  text-transform: uppercase;
  user-select: none;
}

.index__desc,
.index__nest .index__title {
  border-left: 1px solid $black;
}

.index__desc {
  border-bottom: 1px solid $black;
  position: relative;
}

.index__link,
.index__expand-label,
.index__expand-input {
  @include focus-reset;
}

.index__expand-input {
  appearance: none;
  box-sizing: content-box;
  cursor: s-resize;
  display: block;
  height: calc(1.125em + 2 * #{$sp-2}); // match label height exactly
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: none;

  @include on-focus {
    ~ .index__expand-label {
      font-weight: 500;
    }
  }

  &:checked {
    cursor: n-resize;

    ~ .index__nest {
      height: auto;
    }

    ~ .index__expand-label {
      .index__icon--plus {
        display: none;
      }
      .index__icon--minus {
        display: inline-block;
      }
    }
  }
}

.index__link,
.index__expand-label {
  @include gutters(horiz, full);
  display: block;
  user-select: none;
}

.index__link {
  @include on-focus {
    font-weight: 500;
  }
}

.index__title {
  @include flex;
  @include padding($sp-2 null);
  justify-content: space-between;

  .index__nest__item & {
    @include padding(($sp-2 / 2) null);
    padding-left: $gutter-full;
  }
}

.index__icon {
  @include size(0.75em);

  @include on-focus('.index__link') {
    transform: rotate(-45deg);
  }

  &--minus {
    display: none;
  }
}

.index__nest {
  height: 0;
  overflow: hidden;

  &:focus-within {
    height: auto;
  }
}
