---
layout: layouts/base/index.njk
permalink: /index/
title: Index
templateClass: index
---

<div class="filter js-filter" style="padding: 20px;">
  Filter by
  <ul>
    {% for tag in collections.tagList %}
      <li>
        <label for="{{ tag ~ '-filter' }}">
          <input type="checkbox" name="filter" value="{{ tag }}" id="{{ tag ~ '-filter' }}"/>
          <span>{{ tag }}</span>
        </label>
      </li>
    {% endfor %}
  </ul>

  <button class="clear">Clear Filters</button>
</div>

{# Search #}
<div class="search-wrapper js-search-wrapper">
  <div class="search-bar">
    <svg class="search-icon">
      <use xlink:href="#search"></use>
    </svg>
    <input class="search-input js-search-input" type="text" placeholder="Search">
  </div>

  <dl class="index__list search-results js-search-results" role="list"></dl>
</div>

{# Page content & search results #}
{% if collections.indexItems | length %}
  <dl class="index__list js-index-list" role="list">
    {% for item in collections.indexItems %}

      {# The tag assigned by the json file in the directory will always be the first tag #}
      {% set tagDef = item
        .data
        .tags[0] %}

      <div data-tags="{{ item.data.tags }}">

        <dt class="index__type">
          {{ "Entry" if tagDef == "entries" }}
          {{ "Collection" if tagDef == "collections" }}
          {{ "Series" if tagDef == "series" }}
        </dt>

        <dd class="as-h1 index__desc">

          {% if tagDef == "entries" %}
            {# Entries #}
            <a href="{{ item.url }}" class="index__link">
              <h1 class="index__title">
                {{ item.data.title }}
                <svg class="index__icon index__icon--arrow">
                  <use xlink:href="#arrow"></use>
                </svg>
              </h1>
            </a>
          {% else %}
            {# Series & Collections #}
            {% set inputName = "expand-" ~ (item.data.title | slug) %}
            <input class="index__expand-input" type="checkbox" name="{{ inputName }}" id="{{ inputName }}"/>
            <label class="index__expand-label" for="{{ inputName }}">
              <h1 class="index__title">
                {{ item.data.title }}
                <svg class="index__icon index__icon--plus">
                  <use xlink:href="#plus"></use>
                </svg>
                <svg class="index__icon index__icon--minus">
                  <use xlink:href="#minus"></use>
                </svg>
              </h1>
            </label>

            {% if item.data.entries | length %}
              <ol class="index__nest">
                {% for entry in item.data.entries %}
                  <li class="index__nest__item">
                    <a href="{{ '/entries/' ~ entry | slug }}" class="index__link">
                      <h2 class="index__title">
                        {{ entry }}
                        <svg class="index__icon index__icon--arrow">
                          <use xlink:href="#arrow"></use>
                        </svg>
                      </h2>
                    </a>
                  </li>
                {% endfor %}
              </ol>
            {% endif %}

          {% endif %}
        </dd>
      </div>
    {% endfor %}

  </dl>
{% endif %}
