---
layout: layouts/base/index.njk
permalink: /index/
title: Index
---

{% macro entryLink(title, level) %}
  <a href="{{ '/entries/' ~ (title | slug) }}" class="index__list__item__link">
    {% if level == 1 %}
      <h1 class="index__list__item__title">
        {{ title }}
        <svg class="index__list__item__icon index__list__item__icon--arrow">
          <use xlink:href="#arrow"></use>
        </svg>
      </h1>
    {% else %}
      <h2 class="index__list__item__title">
        {{ title }}
        <svg class="index__list__item__icon index__list__item__icon--arrow">
          <use xlink:href="#arrow"></use>
        </svg>
      </h2>
    {% endif %}
  </a>
{% endmacro %}

<dl class="index__list" role="list">
  {% for entry in collections.entries %}
    <dt class="index__list__item__type">Entry</dt>
    <dd class="as-h1 index__list__item__desc">
      {{ entryLink(entry.data.title, 1) }}
    </dd>
  {% endfor %}

  {% for collection in collections.collections %}
    {% if collection.data.entries.length > 0 %}
      {% set inputName = 'expand-' ~ (collection.data.title | slug) %}
      <dt class="index__list__item__type">Collection</dt>
      <dd class="as-h1 index__list__item__desc">
        <input class="index__list__item__expand__checkbox" type="checkbox" name="{{ inputName }}" id="{{ inputName }}">
        <label class="index__list__item__expand__label" for="{{ inputName }}">
          <h1 class="index__list__item__title">
            {{ collection.data.title }}
            <svg class="index__list__item__icon index__list__item__icon--plus">
              <use xlink:href="#plus"></use>
            </svg>
            <svg class="index__list__item__icon index__list__item__icon--minus">
              <use xlink:href="#minus"></use>
            </svg>
          </h1>
        </label>
        <ol class="index__list__item__nest">
          {% for entry in collection.data.entries %}
            <li class="index__list__item__nest__item">
              {{ entryLink(entry, 2) }}
            </li>
          {% endfor %}
        </ol>
      </dd>
    {% endif %}
  {% endfor %}

  {% for series in collections.series %}
    {% if series.data.entries.length > 0 %}
      {% set inputName = 'expand-' ~ (series.data.title | slug) %}
      <dt class="index__list__item__type">Series</dt>
      <dd class="as-h1 index__list__item__desc">
        <input class="index__list__item__expand__checkbox" type="checkbox" name="{{ inputName }}" id="{{ inputName }}">
        <label class="index__list__item__expand__label" for="{{ inputName }}">
          <h1 class="index__list__item__title">
            {{ series.data.title }}
            <svg class="index__list__item__icon index__list__item__icon--plus">
              <use xlink:href="#plus"></use>
            </svg>
            <svg class="index__list__item__icon index__list__item__icon--minus">
              <use xlink:href="#minus"></use>
            </svg>
          </h1>
        </label>
        <ol class="index__list__item__nest">
          {% for entry in series.data.entries %}
            <li class="index__list__item__nest__item">
              {{ entryLink(entry, 2) }}
            </li>
          {% endfor %}
        </ol>
      </dd>
    {% endif %}
  {% endfor %}
</dl>
