---
layout: layouts/base/index.njk
permalink: /index/
title: Index
templateClass: index
---

{# Search #}
<div class="js-search-wrapper">
  <div class="search-and-filter-wrapper">
    <section class="search-bar">
      <h1 class="hide">
        Search
      </h1>
      <svg class="search-icon">
        <use xlink:href="#search"></use>
      </svg>
      <input class="search-input js-search-input" type="text" placeholder="Search">
    </section>

    <section class="filter-bar js-filter-bar">
      <h1 class="hide">
        Filter
      </h1>

      <h2 class="filter-heading">
        Type:
      </h2>
      <select class="filter filter--type" name="type" id="typeFilter">
        <option value="js-clear" selected="selected">All</option>
        <option value="entries">Entries</option>
        <option value="series">Series</option>
        <option value="collections">Collections</option>
      </select>

      <h2 class="filter-heading">
        Level:
      </h2>
      <select class="filter filter--level" name="type" id="typeFilter">
        <option value="js-clear" selected="selected">Any</option>
        {% for level in difficultyLevels %}
          <option value="{{ level }}">{{ level | capitalize }}</option>
        {% endfor %}
      </select>

      <h2 class="filter-heading">
        Topic:
      </h2>
      <ul class="filter--topic__list">
        {% for tag in collections.tagList %}
          <li>
            <label class="filter filter--topic__label" for="{{ tag ~ 'Filter' }}">
              <input class="filter--topic__input hide" type="checkbox" name="filter" value="{{ tag }}" id="{{ tag ~ 'Filter' }}"/>
              <span class="filter--topic__text">{{ tag | upper }}</span>
            </label>
          </li>
        {% endfor %}
      </ul>

      <button class="clear js-clear-button">Clear Filters</button>
    </section>
  </div>

  <dl class="index__list search-results js-search-results" role="list"></dl>
</div>

{# Page content & search results #}
{% if collections.indexItems | length %}
  <dl class="index__list js-index-list" role="list">
    {% for item in collections.indexItems %}

      {# The tag assigned by the json file in the directory will always be the first tag #}
      {% set tagDef = item
        .data
        .tags[0] %}

      <div data-tags="{{ item.data.tags }}" data-level="{{ difficultyLevels[item.data.level - 1] }}">

        <dt class="index__type">
          {{ "Entry" if tagDef == "entries" }}
          {{ "Collection" if tagDef == "collections" }}
          {{ "Series" if tagDef == "series" }}
        </dt>

        <dd class="as-h1 index__desc">

          {% if tagDef == "entries" %}
            {# Entries #}
            <a href="{{ item.url }}" class="index__link">
              <h1 class="index__title">
                {{ item.data.title }}
                <svg class="index__icon index__icon--arrow">
                  <use xlink:href="#arrow"></use>
                </svg>
              </h1>
            </a>
          {% else %}
            {# Series & Collections #}
            {% set inputName = "expand-" ~ (item.data.title | slug) %}
            <input class="index__expand-input" type="checkbox" name="{{ inputName }}" id="{{ inputName }}"/>
            <label class="index__expand-label" for="{{ inputName }}">
              <h1 class="index__title">
                {{ item.data.title }}
                <svg class="index__icon index__icon--plus">
                  <use xlink:href="#plus"></use>
                </svg>
                <svg class="index__icon index__icon--minus">
                  <use xlink:href="#minus"></use>
                </svg>
              </h1>
            </label>

            {% if item.data.entries | length %}
              <ol class="index__nest">
                {% for entry in item.data.entries %}
                  <li class="index__nest__item">
                    <a href="{{ '/entries/' ~ entry | slug }}" class="index__link">
                      <h2 class="index__title">
                        {{ entry }}
                        <svg class="index__icon index__icon--arrow">
                          <use xlink:href="#arrow"></use>
                        </svg>
                      </h2>
                    </a>
                  </li>
                {% endfor %}
              </ol>
            {% endif %}

          {% endif %}
        </dd>
      </div>
    {% endfor %}

  </dl>
{% endif %}
