@mixin flex($direction: 'row', $grow: false) {
  display: flex;

  @if $direction == 'column' {
    flex-direction: $direction;
  }

  @if $grow != false {
    flex-grow: $grow;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
}

@mixin gutters($dir: horiz, $size: half, $property: padding) {
  $gutters: (
    half: #{var(--gutter-half)},
    full: #{var(--gutter-full)},
  );
  $gutter: map-get($gutters, $size);

  @if $dir == horiz {
    #{$property}-left: $gutter;
    #{$property}-right: $gutter;
  }

  @if $dir == vert {
    #{$property}-top: $gutter;
    #{$property}-bottom: $gutter;
  }

  @if $dir == all {
    #{$property}: $gutter;
  }
}

@mixin grid-parent {
  @include flex;
  @include gutters;
  align-items: flex-start;
  flex-direction: row;
  flex: 0 0 100%;
  width: 100%;
}

@mixin grid-child($grow, $shrink: 0, $cols: false) {
  $basis: auto;

  @if $cols != false {
    $basis: cols($cols);
  }

  @include gutters;
  flex: $grow $shrink $basis;
}

@mixin content-column {
  @include gutters(horiz, full);
  @include margin(null auto);
  max-width: var(--content-max-width);
  width: 100%;
}

@mixin block-spacing {
  @include margin($block-spacing-sm null);

  @media (min-width: $xl) {
    @include margin($block-spacing-lg null);
  }
}
