@mixin transition($property: all, $duration: $t-dur, $function: $t-func) {
  $transitions: null;
  @if type-of($property) != list {
    $property: ($property);
  }

  @each $specifiedProperty in $property {
    $transitions: append($transitions, $specifiedProperty $duration $function, comma);
  }
  transition: $transitions;
}
