@mixin responsive-font-size($base) {
  font-size: map-get($font-sizes, fs#{$base - 1});

  @include mq($lg) {
    font-size: map-get($font-sizes, fs#{$base});
  }
}

@mixin h(
  $level,
  $weight: $everett-bold,
  $family: $sans,
  $color: var(--text-color),
  $fs-sm: map-get($headings, h#{$level + 1}),
  $fs-base: map-get($headings, h#{$level})
) {
  color: $color;
  font-family: $family;
  font-weight: $weight;
  font-size: $fs-sm;
  line-height: 1.125;

  @if ($level > 3) {
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  @include mq($lg) {
    font-size: $fs-base;
  }
}
