@mixin h(
  $level,
  $weight: inherit,
  $family: $sans,
  $color: $black,
  $size-xs: map-get($headings, h#{$level + 2}),
  $size-sm: map-get($headings, h#{$level + 1}),
  $size-base: map-get($headings, h#{$level})
) {
  color: $color;
  font-family: $family;
  font-size: $size-xs;
  font-weight: $weight;
  letter-spacing: -0.02em;
  line-height: 1.125;

  @include mq($xs) {
    font-size: $size-sm;
  }

  @include mq($md) {
    font-size: $size-base;
  }
}
