/**
 * Topics Index
 */
.topics {
  @include gutters;
  background-color: $black;
  color: $white;
  padding: $section-spacing 0;
}

.topics__overline {
  border-bottom: 1px solid $white;
  color: $white;
  font-family: $mondwest;
  font-size: $fs1;
  margin: 0 var(--gutter-full) $sp-1;
  text-align: center;
}

.topics__list {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $paragraph-spacing;
  position: relative;
}

.topics__item {
  display: block;
  margin: $sp1 $sp2;
  text-align: center;

  &:hover {
    cursor: ne-resize;

    .topics__item-count {
      @include spectrum(color);
    }
  }
}

.topics__item-title {
  color: $white;
  font-family: $fleuron-mix;
  font-size: $fs3;
  line-height: 1.125;
}

.topics__item-count {
  color: $white;
  font-family: $neuebit;
  font-size: $fs0;
  font-weight: $neuebit-bold;
}
