<section class="topics">
  <h1 class="topics__overline">Learn about</h1>
  <ul class="topics__list">
  {% for topic in collections.tagList %}
    <li>
      <a href="{{ "/topics/" ~ topic }}" class="topics__item">
        <span class="topics__item-count">0{{ collections[topic] | where("data.tags[0]", "entries") | length }}</span>
        <h2 class="topics__item-title">{{ topic | formatTopic }}</h2>
      </a>
    </li>
  {% endfor %}
  </ul>
</section>
